<?xml version="1.0"?>
<config>
    <modules>
        <BrandLovers_Comments>
            <version>0.1.0</version>
        </BrandLovers_Comments>
    </modules>
    <frontend>
        <layout>
            <updates>
                <comments>
                    <file>comments.xml</file>
                </comments>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
		<layout>
			<updates>
				<comments>
					<file>comments.xml</file>
				</comments>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <comments>
                <class>BrandLovers_Comments_Model</class>
            </comments>
        </models>
        <blocks>
            <comments>
                <class>BrandLovers_Comments_Block</class>
            </comments>
        </blocks>
        <helpers>
            <comments>
                <class>BrandLovers_Comments_Helper</class>
            </comments>
        </helpers>
    </global>
	<default>
		<comments>
			<general>
				<enabled>1</enabled>
				<data_mode>reviews</data_mode>
				<data_num_comments>3</data_num_comments>
				<data_color>FFFFFF</data_color>
				<data_font_color>e34056</data_font_color>
			</general>
        </comments>
    </default>
</config>